
 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



 :root {
  --primaryColor: #af9a7d;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #cfcfcf;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 3px;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
body {
  color: var(--mainBlack);
  background: var(--mainWhite);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}
h1 

h1 {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  margin-bottom: 0.75em;
}
h3 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
h4 {
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}
h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
h6 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}


.navbar{
  background-color: var(--offWhite);
}

.logo{
  margin-left: 150px;
}

.nav-links{
  margin-left: 50px;
}

.nav-links a{
  text-decoration: none;
  padding: 1rem 0;
  color: var(--mainBlack);
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
}

.nav-links a:hover{
  text-decoration: none;
  color: var(--primaryColor);
}

#basic-navbar-nav{
  margin-left: 0 ;
}

@media (max-width: 992px){

  .logo{
  margin-left: 10%;
}
}

.hero,
.room-hero{
  width: 100%;
  min-height: calc(100vh  - 66px);
  background-image: url("./images/defaultBcg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.room-hero{
  min-height: 60vh;
  background-image: url("./images/room-2.jpeg");
}

.jumbotron{
  width: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.5) !important;
  color: var(--mainWhite);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
}
.line {
  width: 10rem;
  height: 5px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.button1{
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid black;
  margin:0 0.3em 0.3em 0;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  background-color: var(--primaryColor);
  transition: all 0.2s;
  color: black;
  text-align: center; 
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
}

.button1:hover{
  color:var(--primaryColor);
  border:0.2em solid var(--primaryColor);
  background-color: transparent;
}

.div-title{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  font-size: 1.2em;
  line-height: 1.25;
  margin-bottom: 1.25em;
  font-weight: bold;
}

.title{
  font-size: 2rem;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
  margin: .5rem 1rem 0 0;
}


.line-services{
  width: 5rem;
  height: 4px;
  background: var(--primaryColor);
  margin: 1.7rem auto;
}

.service{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.service-icon{
  color: var(--primaryColor);
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.service-title{
  letter-spacing: var(--mainSpacing);
  text-transform: uppercase;
}

.service-info{
  margin: 0 auto;
  font-size: 1em;
  text-align: center;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
}

.card{
  margin-bottom: 2rem;
  transition: var(--mainTransition);
}
.card:hover{
  box-shadow: var(--darkShadow);
}

.card-img-overlay{
  padding: 0 !important;
}

.card:hover{
  background: rgba(0, 0, 0, 0.8);
}

.card:hover img{
  opacity: .3;
}

.card:hover .dollerInfo{
  opacity: 0;
  transition: 0s;
}

.card:hover .room-features-button{
  display: inline;
}

.dollerInfo{
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  border-bottom-right-radius: 1rem;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
  transition: var(--mainTransition);
  padding: 0.3rem 0.6rem 0.5rem;
  letter-spacing: var(--mainSpacing);
  color: var(--mainWhite);
}

.room-features-button{
  position: absolute;
  display:inline-block;
  padding:0.35em 1.2em;
  border:0.2em solid var(--primaryColor);
  border-radius:0.15em;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  background-color: transparent;
  transition: all 0.2s;
  color:var(--primaryColor);
  text-align: center; 
  text-transform: uppercase;
  display: none;
  letter-spacing: var(--mainSpacing);
  top: 50%;
  left:50%;
  margin-top: -17px;
  margin-left: -70px;
}

.room-info {
  background: var(--darkGrey);
  text-transform: capitalize;
  padding: 0.5rem 0;
  text-align: center;
  font-weight: 700;
  letter-spacing: var(--mainSpacing);
}

.single-room-images{
  padding: 50px 0 0 0;
}


.desc,
.info {
  margin: 1rem 0;
}
.desc h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}
.desc p {
  line-height: 1.5;
}
.info h3,
.info h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 1em;
}

.info h6 {
  font-weight: 300;
  font-size: 1em;
  margin-bottom: 1.5em;
}

.room-extras {
  margin: 1.5rem auto 3rem auto;
}
.room-extras h6 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}
.extras {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(330px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 1rem;
}

.card{
  border: none !important;
}